{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    // ["component", [{
    //   "libraryName": "element-ui",
    //   "styleLibraryName": "theme-default"
    // }]]
    // "transform-vue-jsx"
  ]
}